@import 'tailwindcss';
@plugin 'daisyui' {
  themes: vira --default;
}
@plugin 'daisyui/theme' {
  name: vira;
  default: true;
  color-scheme: light;
  --color-base-100: #ffffff;
  --color-base-200: #f3eefa;
  --color-base-300: #e4dcec;
  --color-base-content: #292534;
  --color-primary: #513b70;
  --color-primary-content: #ffffff;
  --color-secondary: #f27668;
  --color-secondary-content: #292534;
  --color-accent: #c6afe1;
  --color-accent-content: #292534;
  --color-info: #eae0f5;
  --color-info-content: #513b70;
  --color-success: #1d6840;
  --color-success-content: #ffffff;
  --color-warning: #f9b7b5;
  --color-warning-content: #292534;
  --color-error: #9a363b;
  --color-error-content: #ffffff;
  --radius-selector: 0.75rem;
  --radius-field: 0.75rem;
  --radius-box: 1.25rem;
}
