@import 'tailwindcss';
@plugin 'daisyui' {
  themes: vira --default;
}
@plugin 'daisyui/theme' {
  name: vira;
  default: true;
  color-scheme: dark;
  --color-base-100: #111723;
  --color-base-200: #0b101a;
  --color-base-300: #273145;
  --color-base-content: #f3f6fc;
  --color-primary: #8199ff;
  --color-primary-content: #080d19;
  --color-secondary: #dce6ff;
  --color-secondary-content: #111723;
  --color-accent: #a9bbff;
  --color-accent-content: #080d19;
  --color-info: #27395f;
  --color-info-content: #dce6ff;
  --color-success: #7ddcb7;
  --color-success-content: #071b16;
  --color-warning: #ffd489;
  --color-warning-content: #261a08;
  --color-error: #ff8f9f;
  --color-error-content: #24090f;
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
}
